extends layout

block content

  meta(name='viewport', content='initial-scale=1.0')
  meta(charset='utf-8')

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNQ9cmXz_DKbXxMQV4I9hgSq6biyU1faA&callback=initMap"
    async defer)
  style.
    #map {
    height: 600px;
    width: 800px;
    }

  script.
    $('#sidebar').css("height", $(document).height());

  div(ng-controller="Controller")
    div#container
      div#sidebar
        ul#activity-list
          li(ng-repeat="activity in activities" ng-click="log(activity._id); selected(activity._id)") {{activity.gpx.trk.name | parseActivity}} {{activity.gpx.trk.time | date : "dd.MM.y"}}
      div#content(ng-hide="hide")
        p Date: <b> {{date | date : "dd.MM.y h:mm:ss a"}} </b> Length: <b> {{length}}km</b> Duration: <b> {{duration}} </b> Average pace: <b> {{averagePace}} </b>
        
        #map
        #elevationChart
        #paceChart
