doctype html
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

    script.
      $(function(){
        var topPadding = $('#navbar').height();
        document.documentElement.style.paddingTop = topPadding + "px";
      })
    block head

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71863714-2', 'auto');
      ga('send', 'pageview');

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id=id)
    div
      ul#navbar
        li.activities: a(href="/activities") Activities
        li.upload: a(href="/upload") Upload
        li.websocket: a(href="/websocket") Websocket
        li.chat: a(href="/chat") Chat
        li.game: a(href="/game") Game
        li.firebase: a(href="/firebase") Firebase
    h1= title
    block content
