extends layout

block content

	form(method="post",enctype="multipart/form-data",action="/api/activity")
		p
			input(type="text",name="title",placeholder="title")
		p
			input(type="file",name="gpx" multiple)
		p
			input(type="submit")