extends layout

block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    style.
        #map {
        height: 600px;
        width: 800px;
        }
    p Test

    #map

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNQ9cmXz_DKbXxMQV4I9hgSq6biyU1faA&callback=initMap"
    async defer)

    script.
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),{
              center: new google.maps.LatLng(0, 0),
              zoom: 1
              });

            var marker = new google.maps.Marker({
                map: map
                });
            var path = [];
            var polyLine;

            //window.location.origin probably wont work always
            var socket = io(window.location.origin);
            socket.on('location', function (location) {
                console.dir(location);
                var lat = parseFloat(location.lat);
                var lon = parseFloat(location.lon);
                console.log(lat +","+lon);
                if(!isNaN(lat) && !isNaN(lon)){
                    var pos = new google.maps.LatLng(lat,lon);
                    path.push(pos);

                    marker.setPosition(pos);
                    if(polyLine!=null){
                        polyLine.setMap(null);
                    }
                    polyLine = new google.maps.Polyline({
                        path: path,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        });
                    polyLine.setMap(map);

                    map.setZoom(17);
                    map.panTo(pos); 
                }
            });
            socket.on('connected', function (data) {
                console.log(data);
            });
        }